<template>
  {{ Innnnnnnnnnnnn }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
    <body class="container">
      <h1>Login page</h1>
      <form class="row g-3 needs-validation" @submit.prevent="login" validate>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" v-model="email" id="email" placeholder="name@example.com">
        </div>
        <label for="password" class="form-label">Password</label>
        <input type="password" v-model="password" id="password" class="form-control">
        <div id="passwordHelpBlock" class="form-text">
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </body>
</template>

<script>

export default {

  data(){
    return {
      email: '',
      password: '',
    }
  },

    methods: {
        login(){

        axios.post('http://127.0.0.1:8000/api/login', {
        email : this.email,
        password : this.password
        }).then((response) => {
        // console.log(response)
        if(response.data.state === 200){
            // store.dispatch('setToken', response.data._token);
            // localStorage.removeItem('_Token')
            // localStorage.setItem('_Token', response.data._token)
            alert("success");
            this.email = ''
            this.password = ''
            this.$router.push('/view');
        }else{
            console.log("enter valid email or password")
        }
        }).catch((error) => {
        console.log(error)
        })
        }
    },

}

</script>