<template>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    
    <body class="container">
      <h1>Registration page</h1>
      <form @submit.prevent="register" class="row g-3 needs-validation" validate>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="name" class="form-control" v-model="obj.name" id="name">
          <span class="text-danger" v-show="Error.name">{{ Errormsg.name }}</span>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" v-model="obj.email" id="email" placeholder="name@example.com">
          <span class="text-danger" v-show="Error.email">{{ Errormsg.email }}</span>
        </div>
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" v-model="obj.password" class="form-control">
        <div id="passwordHelpBlock" class="form-text">
          Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
          <span class="text-danger" v-show="Error.password">{{ Errormsg.password }}</span>
        </div>
        <div class="mb-3">
          <label for="contact_no" class="form-label">Contact Number</label>
          <input type="text" class="form-control" v-model="obj.contact_no" id="contact_no">
          <span class="text-danger" v-show="Error.contact_no">{{ Errormsg.contact_no }}</span>
        </div>
        <div class="mb-3">
          <label for="birthdate" class="form-label">Birthdate</label>
          <input type="text" class="form-control" v-model="obj.birthdate" id="birthdate">
          <span class="text-danger" v-show="Error.birthdate">{{ Errormsg.birthdate }}</span>
        </div>
        <div class="mb-3">
          <label for="formFile" class="form-label">Image</label>
          <input class="form-control" type="file" id="image">
        </div>
        <label for="gender" class="form-label">Gender</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" v-model="obj.gender" value="male" id="malegender">
          <label class="form-check-label" for="flexRadioDefault1">
            Male
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" v-model="obj.gender" value="female" id="femalegender">
          <label class="form-check-label" for="flexRadioDefault1">
            Female
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" v-model="obj.gender" value="other" id="othergender">
          <label class="form-check-label" for="flexRadioDefault1">
            Other
          </label>
        </div>
        <div class="col-md-3">
          <label for="country" class="form-label">Country</label>
          <select class="form-select" v-model="obj.country" id="country" name="country">
            <option selected value="india">India</option>
            <option>...</option>
          </select>
          <span class="text-danger" v-show="Error.country">{{ Errormsg.country }}</span>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-3">
          <label for="state" class="form-label">State</label>
          <select class="form-select" v-model="obj.state" id="state" name="state">
            <option selected value="gujarat">Gujarat</option>
            <option>...</option>
          </select>
          <span class="text-danger" v-show="Error.state">{{ Errormsg.state }}</span>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <label for="address" class="form-label">Address</label>
        <div class="input-group">
          <textarea class="form-control" v-model="obj.address" id="address" aria-label="With textarea"></textarea>
          <span class="text-danger" v-show="Error.address">{{ Errormsg.address }}</span>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Register</button>
        </div>
      </form>
    </body>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    data() {
      return {
        obj: {
          name:'',
          email: '',
          password: '',
          contact_no: '',
          birthdate:'',
          gender:'',
          country:'',
          state:'',
          address:'',

          // password_confirmation: '',
        },
        Error: {
          name: false,
          email: false,
          password: false,
          contact_no: false,
          birthdate: false,
          gender: false,
          country: false,
          state: false,
          address: false,
        },
        Errormsg: {
          name:'',
          email: '',
          password: '',
          contact_no: '',
          birthdate:'',
          gender:'',
          country:'',
          state:'',
          address:'',

          // password_confirmation: '',
        },
      };
    },
    methods: {
      register() {
        axios.post('http://127.0.0.1:8000/api/register', this.obj)
        .then(response => {
          console.log(response.obj);
          alert("Registration successful")
          this.$router.push('/login');
        })
        .catch(error => {
          // console.log(error.response.obj);

          if(error.response.data.name){
            this.Error.name=true;
            this.Errormsg.name=error.response.data.name[0];
          }
          if(error.response.data.email){
            this.Error.email=true;
            this.Errormsg.email=error.response.data.email[0];
          }
          if(error.response.data.password){
            this.Error.password=true;
            this.Errormsg.password=error.response.data.password[0];
          }
          if(error.response.data.contact_no){
            this.Error.contact_no=true;
            this.Errormsg.contact_no=error.response.data.contact_no[0];
          }
          if(error.response.data.birthdate){
            this.Error.birthdate=true;
            this.Errormsg.birthdate=error.response.data.birthdate[0];
          }
          if(error.response.data.gender){
            this.Error.gender=true;
            this.Errormsg.gender=error.response.data.gender[0];
          }
          if(error.response.data.country){
            this.Error.country=true;
            this.Errormsg.country=error.response.data.country[0];
          }
          if(error.response.data.state){
            this.Error.state=true;
            this.Errormsg.state=error.response.data.state[0];
          }
          if(error.response.data.address){
            this.Error.address=true;
            this.Errormsg.address=error.response.data.address[0];
          }
        });
      },
    }
  }
  </script>