<template>
    <h1>hello</h1>
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" v-model="search">
    <table class="table" id="app">
  <thead>
    <tr>
      <th scope="col" @click="sort('id')" style="cursor:pointer">#</th>
      <th scope="col" @click="sort('name')" style="cursor:pointer">Name</th>
      <th scope="col" @click="sort('email')" style="cursor:pointer">Email</th>
      <th scope="col" @click="sort('contact_no')" style="cursor:pointer">Contact</th>
      <th scope="col" @click="sort('birthdate')" style="cursor:pointer">Birthdate</th>
      <th scope="col" @click="sort('image')" style="cursor:pointer">Image</th>
      <th scope="col" @click="sort('gender')" style="cursor:pointer">Gender</th>
      <th scope="col" @click="sort('country')" style="cursor:pointer">Counry</th>
      <th scope="col" @click="sort('state')" style="cursor:pointer">State</th>
      <th scope="col" @click="sort('address')" style="cursor:pointer">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(data, index1) in user" :key="index1">
      <th>{{ data.id }}</th>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.contact_no}}</td>
      <td>{{data.birthdate}}</td>
      <td>{{data.image}}</td>
      <td>{{data.gender}}</td>
      <td>{{data.country}}</td>
      <td>{{data.state}}</td>
      <td>{{data.address}}</td>
      <!-- <button class="btn btn-primary" @click="edit(data)" type="submit">Edit</button> -->
      <td><router-link :to="{ path : '/edit/' + data.id}"><button class="btn btn-primary" type="submit">Edit</button></router-link></td>
      <td><router-link to=""><button class="btn btn-danger" @click="deleteUser" type="submit">Delete</button></router-link></td>
    </tr>
    <p>
    <button @click="prevPage">Previous</button> 
    <button @click="nextPage">Next</button>
    </p>
  </tbody>
</table>
debug: sort={{currentSort}}, dir={{currentSortDir}}
</template>

<script>
    import axios from "axios";

    export default {
      el:'#app',

      created:function() {
        fetch('http://127.0.0.1:8000/view')
        .then(res => res.json())
        .then(res => {
          this.data = res;
        })
      },
      data(){
          return {
            obj: {  
              id: '',
          name:'',
          email: '',
          password: '',
          contact_no: '',
          birthdate:'',
          gender:'',
          country:'',
          state:'',
          address:'',

          // password_confirmation: '',
        },
              user:[],
              id: '',
              search:null,
              currentSort:'id',
              currentSortDir:'asc',
              pageSize:5,
              currentPage:1
          }
      },
      nextPage:function() {
        if((this.currentPage*this.pageSize) < this.user.length) this.currentPage++;
      },
      prevPage:function() {
        if(this.currentPage > 1) this.currentPage--;
      },
      user:function() {
        return this.data.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        }).filter((row, index) => {
          let start = (this.currentPage-1)*this.pageSize;
          let end = this.currentPage*this.pageSize;
          if(index >= start && index < end) return true;
        });
      },
    
    methods: {
        show(){
            axios.get('http://127.0.0.1:8000/api/get-user')
            .then((response) => {
                this.user = response.data
                this.id = response.data[0].id
            }).catch((error) => {
                console.log(error);
            })
        },

        edit(data){
          this.obj.id=data.id;
          this.obj.name=data.name;
          this.obj.email=data.email;
          this.obj.password=data.password;
          this.obj.contact_no=data.contact_no;
          this.obj.birthdate=data.birthdate;
          this.obj.gender=data.gender;
          this.obj.country=data.country;
          this.obj.state=data.state;
          this.obj.address=data.address;
        },

        deleteUser(){
          if(confirm('Are you sure you want to delete it?')){
            axios.delete(`http://127.0.0.1:8000/api/delete/${this.id}`)
              .then(res=> {console.log(res)})
          }
        },

        search(){
          axios.get('http://127.0.0.1:8000/api/search', {params : {search: this.search}})
          .then(response => {
            this.user = response.obj
          })
        },

        // getImage(name){

        //     return "http://127.0.0.1:8000/storage/user/" + name

        // },
        sort:function(s) {
        //if s == current sort, reverse
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      }
    },
    computed:{
      user:function() {
        return this.user.sort((a,b) => {
          let modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;
        });
      }
    },

    watch:{
      search(){
        this.search()
      }
    },

    created(){
        this.show()
    }
}
</script>